<html dir="rtl" lang="fa">
  <body>
    <div class="container">
      <div class="data">
        <h3>آبان</h3>
        <p>
          <span>&#x22C0;</span>
          <span>&#x22C1;</span>
        </p>
        <div class="days">
          <div class="day">Su</div>
          <div class="day">Mo</div>
          <div class="day">Tu</div>
          <div class="day">We</div>
          <div class="day">Th</div>
          <div class="day">Fr</div>
          <div class="day">Sa</div>

          <div class="number-pre">26</div>
          <div class="number-pre">27</div>
          <div class="number-pre">28</div>
          <div class="number-pre">29</div>
          <div class="number-pre">30</div>
          <div class="number">1</div>
          <div class="number">2</div>
          <div class="number">3</div>
          <div class="number">4</div>
          <div class="number">5</div>
          <div class="number">6</div>
          <div class="number">7</div>
          <div class="number">8</div>
          <div class="number">9</div>
          <div class="number">10</div>
          <div class="number">11</div>
          <div class="number">12</div>
          <div class="number">13</div>
          <div class="number">14</div>
          <div class="number">15</div>
          <div class="number">16</div>
          <div class="number">17</div>
          <div class="number">18</div>
          <div class="number">19</div>
          <div class="number">20</div>
          <div class="number">21</div>
          <div class="number">22</div>
          <div class="number">23</div>
          <div class="number active">24</div>
          <div class="number">25</div>
          <div class="number">26</div>
          <div class="number">27</div>
          <div class="number">28</div>
          <div class="number">29</div>
          <div class="number">30</div>
          <div class="number">31</div>
          <div class="number-pre">26</div>
          <div class="number-pre">27</div>
          <div class="number-pre">28</div>
          <div class="number-pre">29</div>
          <div class="number-pre">30</div>
        </div>
      </div>
    </div>
  </body>
</html>
