<div class="container">
  <div class="data">
    <div class="header">
      <h3>{{ monthLabel }}</h3>
      <div class="nav">
        <button type="button" class="nav-btn" (click)="previousMonth()" aria-label="Previous month">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button type="button" class="nav-btn" (click)="nextMonth()" aria-label="Next month">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <div class="days">
      <div class="day" *ngFor="let d of weekdays">{{ d }}</div>

      <div
        class="number"
        *ngFor="let cell of cells"
        [class.number-pre]="!cell.inCurrentMonth"
        [class.active]="cell.isToday"
      >
        {{ cell.day }}
      </div>
    </div>
  </div>
</div>
