<div class="weather-card">
  <div class="weather-top">
    <button
      type="button"
      class="city-btn"
      *ngIf="!editingCity"
      (click)="startEdit()"
      title="Change location"
    >
      <i class="fa-solid fa-location-dot"></i>
      <span>{{ cityName || 'Set location' }}</span>
    </button>

    <div class="city-search" *ngIf="editingCity">
      <input
        type="text"
        class="city-input"
        placeholder="Search city…"
        [(ngModel)]="query"
        (ngModelChange)="onQueryChange($event)"
        (keyup.escape)="cancelEdit()"
        autocomplete="off"
        autofocus
      />
      <ul class="city-results" *ngIf="results.length">
        <li *ngFor="let r of results" (click)="selectCity(r)">
          {{ r.name }}<span *ngIf="r.country">, {{ r.country }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="weather-main" *ngIf="!loading; else loadingState">
    <i class="weather-icon" [ngClass]="iconClass"></i>
    <span class="temp" *ngIf="temperature !== null">{{ temperature }}°</span>
    <span class="temp temp--empty" *ngIf="temperature === null">--</span>
  </div>
  <ng-template #loadingState>
    <div class="weather-main weather-main--loading">
      <i class="fa-solid fa-spinner fa-spin"></i>
    </div>
  </ng-template>

  <div class="weather-range" *ngIf="!loading && tempMin !== null && tempMax !== null">
    <span><i class="fa-solid fa-arrow-down"></i> {{ tempMin }}°</span>
    <span><i class="fa-solid fa-arrow-up"></i> {{ tempMax }}°</span>
  </div>
</div>
