/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  min-height: 100vh;
  background: #0d1b2a url(./assets/mountain.jpg) center top / cover no-repeat;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto', sans-serif;
}
